<h1 id="index-title">Rock Paper Scissors!</h1>

<p id="instructions">To use this app input your name below. On the next page you can input your choice and then see if you have won.</p>

<form action="/rps" method="post">
    <input placeholder="Player 1 name" type="text" id="p1-input" name="p1Input"><br>
    <input type="submit" id="startRPS" value="RPS"/>
</form>