<h1 id="index-title">Rock Paper Scissors!</h1>

<p id="instructions">To use this app input your name below. On the next page you can input your choice and then see if you have won.</p>

<form action="/rps" method="post">
    <input placeholder="RPS Player Name" type="text" id="p1-input" name="p1Input"><br>
    <input type="submit" id="startRPS" value="RPS"/>
</form>

<p id="instrunctions-RPSLS">Fed up of always drawing at RPS? Why not try Rock Paper Scissors Lizard Spoke! Same boring mechanics but now with more options. Yay...(?)</p>
<form action="/rpsls" method="post">
    <input placeholder="RPSLS Player Name" type="text" id="p1-input-rpsls" name="p1InputRPSLS"><br>
    <input type="submit" id="startRPSLS" value="RPSLS"/>
</form>
