<h1 id = result><%= result %></h1>

<p id="Player-input">Player picked: <%= playerInput %> </p>
<p id="Computer-input">Computer picked: <%= ComputerInput %> </p>


<form action="/reset" method="post">
    <input type="submit" id="reset" value="Reset"/>
</form>