<h1 id = p1-display-name> Player 1: <%= p1Name %></h1>

<form action="/rock" method="post">
    <input type="submit" id="rock" value="Rock"/>
</form>

<form action="/paper" method="post">
    <input type="submit" id="paper" value="Paper"/>
</form>

<form action="/scissors" method="post">
    <input type="submit" id="scissors" value="Scissors"/>
</form>