<h1 id ="rpsls-intro"> Hello <%= p1Name %>!</h1>

<form action="/rockRPSLS" method="post">
    <input type="submit" id="rock" value="Rock"/>
</form>

<form action="/paperRPSLS" method="post">
    <input type="submit" id="paper" value="Paper"/>
</form>

<form action="/scissorsRPSLS" method="post">
    <input type="submit" id="scissors" value="Scissors"/>
</form>

<form action="/lizardRPSLS" method="post">
    <input type="submit" id="lizard" value="Lizard"/>
</form>

<form action="/spockRPSLS" method="post">
    <input type="submit" id="spock" value="Spock"/>
</form>